@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* Path dimulai dengan '/' yang menunjuk ke root (folder public) */
  /* background-image: url('/assets/background.jpg'); */

  /* Properti lain untuk memastikan gambar tampil dengan baik */
  /* background-repeat: no-repeat; */
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}



/* nav{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0));
} */

.masking {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  /* Properti masking Anda */
  -webkit-mask-image: url('/assets/eclipse.svg');
  mask-image: url('/assets/eclipse.svg');
  background-color: red;
  /* TAMBAHKAN INI: Beri ukuran pada elemen */
  width: 300px;
  /* atau ukuran lain yang Anda inginkan */
  height: 300px;
  /* atau ukuran lain yang Anda inginkan */
}