@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    /* Path dimulai dengan '/' yang menunjuk ke root (folder public) */
  /* background-image: url('/assets/background.jpg'); */

  /* Properti lain untuk memastikan gambar tampil dengan baik */
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tambahkan lapisan noise di atasnya */
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('URL_ke_gambar_noise.png'); /* Cari "subtle grain texture" */
  opacity: 0.04; /* Buat sangat transparan */
  pointer-events: none; /* Agar tidak bisa di-klik */
}

